@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #24262B;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(../../Imagenes/telon-fondo-textura-muro-hormigon-solido.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    align-items: center;
}

.container-carousel {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: #ffffff;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ff2f28;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    width: 100%;
}

.header-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

.header-1 img {
    width: 300px;
}

.header-2 {
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

.header-2 h1 {
    color: #ffffff72;
    font-size: 80px;
    line-height: 80px;
}

.header-2 img {
    width: 70px;
}

.btn-1 {
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff2f28;
    color: #ffffff;
    font-size: 20px;
}

.btn-2 {
    width: 110px;
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff2f28;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
}


/*todo esto es para hacer el footer que va en la parte de abajo*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #323741;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.about {
    background-color: #24262B;
    padding: 50px;
    text-align: center;
    border: 1px solid #24262B;;;
    border-radius: 5px;
    margin-bottom: 20px;
}

#empresa {
    background-color: #323741; /* Color de fondo para la sección empresa */
}
#vision {
    background-color: #323741; /* Color de fondo para la sección empresa */
}

.section__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section__description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.about__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about__image {
    width: 550px;
    margin-right: 30px;
    border-radius: 5px;
}


/*-----------------------------------------------*/

.testimonials {
    padding: 50px 0;
    text-align: center;
}

.section__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.testimonial-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.testimonial-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.testimonial-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #100f0f;
}

.testimonial-content p {
    font-size: 1rem;
    color: #666;
}


/* footer*/

@media (max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #030303;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    .btn-1 {
        display: none;
    }
    #menu:checked~.navbar {
        display: initial;
    }
    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }
    .header-1 {
        width: 100%;
        align-items: center;
    }
    .header-2 {
        width: 100%;
        text-align: center;
    }
    .movies {
        padding: 30px;
        /* 80px se puede modificar las imagenes de las peliculas en celular*/
    }
    .footer {
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .footer ul {
        margin-top: 15px;
        justify-content: center;
    }
}