<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cines</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="quienes.css">

</head>

<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Hipercine</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
        <img src="../../Imagenes/menu.png" class="menu-icono" alt="menu">
    </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../cine/cine.html">Inicio</a></li>
                    <li> <a href="../estrenos/proxiestrenos.html">Proximos Estrenos</a></li>
                    <li> <a href="#">Nosotros</a></li>
                </ul>

            </nav>
            <a href='../login/login.component.html' ; class="btn-1"> Login</a>
        </div>
    </header>

    <section class="about section" id="empresa">
        <div class="container">
            <h2 class="section__title">Nuestra Empresa</h2>
            <div class="about__content">
                <img src="../../Imagenes/peli.jpg" alt="Imagen" class="about__image">
                <p class="section__description">Bienvenidos a Hipercine. Desde nuestra fundación, nos hemos comprometido a ofrecer una experiencia cinematográfica inigualable para nuestros clientes. Nuestra misión es proporcionar una amplia selección de películas de alta calidad y un
                    ambiente acogedor que sumerja a nuestros visitantes en el mundo del cine. Nos esforzamos por superar las expectativas de nuestros clientes en cada visita, desde la calidad de nuestras proyecciones hasta la comodidad de nuestras instalaciones.
                    Además, estamos dedicados a ser una parte activa de nuestra comunidad, apoyando eventos locales y proyectos culturales. Ya sea que vengas solo, en pareja, con amigos o en familia, te invitamos a disfrutar de la magia del cine en Hipercine.
                    ¡Esperamos verte pronto en nuestras salas!</p>
            </div>
        </div>
    </section>

    <section class="about section" id="mision">
        <div class="container">
            <h2 class="section__title">Misión</h2>
            <div class="about__content">
                <p class="section__description">En Hipercine, nuestra misión es ofrecer una experiencia cinematográfica excepcional que entretenga, emocione y conecte a nuestro público. Nos esforzamos por seleccionar una amplia gama de películas de alta calidad que abarquen géneros
                    diversos y reflejen la diversidad y riqueza de la experiencia humana. Además, estamos comprometidos con la comodidad, la seguridad y el bienestar de nuestros clientes. Buscamos constantemente mejorar nuestras instalaciones y servicios
                    para garantizar una experiencia cinematográfica inigualable en cada visita.</p>
                <img src="../../Imagenes/rued.jpg" alt="Imagen 2" class="about__image">
            </div>
        </div>
    </section>

    <section class="about section" id="vision">
        <div class="container">
            <h2 class="section__title">Visión</h2>
            <div class="about__content">
                <img src="../../Imagenes/sala.jpg" alt="Imagen 3" class="about__image">
                <p class="section__description">En Hipercine, nuestra visión es convertirnos en el destino cinematográfico de referencia, reconocido por ofrecer una experiencia única y memorable para todos nuestros clientes. Buscamos ser el lugar donde las personas acudan no solo para
                    ver películas, sino también para sumergirse en un mundo de entretenimiento, creatividad y emociones. <br> Nos esforzamos por ser innovadores en nuestro enfoque, ofreciendo no solo una selección excepcional de películas, sino también
                    eventos especiales, proyecciones exclusivas y experiencias interactivas que sorprendan y deleiten a nuestro público. Queremos ser pioneros en la integración de tecnología de vanguardia para mejorar la experiencia del cine y ofrecer
                    nuevas formas de disfrutar del séptimo arte.</p>
            </div>
        </div>
    </section>


    <section class="testimonials section" id="testimonials">
        <div class="container">
            <h2 class="section__title">Testimonios</h2>
            <div class="testimonial-cards">
                <div class="testimonial-card">
                    <div class="testimonial-img">
                        <img src="../../Imagenes/retrato-hombre-blanco-aislado.jpg" alt="Cliente 1">
                    </div>
                    <div class="testimonial-content">
                        <h3>Cliente 1</h3>
                        <p>"He visitado muchos cines, pero ninguno se compara con Hipercine. La calidad de imagen y sonido es excepcional, y el personal siempre es amable y servicial. ¡Recomendado al 100%"</p>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-img">
                        <img src="../../Imagenes/foto-cabeza-chico-esceptico-mirando-algo-poco-divertido-haciendo-muecas-pie-reacio-contra-fondo-azul.jpg" alt="Cliente 2">
                    </div>
                    <div class="testimonial-content">
                        <h3>Cliente 2</h3>
                        <p>"¡Increíble experiencia en Hipercine! Las instalaciones son modernas y acogedoras, y la selección de películas es impresionante. Sin duda, mi lugar favorito para disfrutar del cine en familia."</p>
                    </div>
                </div>
                <!-- Agrega más tarjetas de testimonios según sea necesario -->
                <div class="testimonial-card">
                    <div class="testimonial-img">
                        <img src="../../Imagenes/retrato-hombre-feliz-sonriente.jpg" alt="Cliente 2">
                    </div>
                    <div class="testimonial-content">
                        <h3>Cliente 2</h3>
                        <p>"Una experiencia cinematográfica inolvidable! Desde la compra de entradas hasta la proyección de la película, todo fue perfecto. Definitivamente volveré a Hipercine para mis próximas salidas al cine."</p>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-img">
                        <img src="../../Imagenes/mujer.jpg" alt="Cliente 2">
                    </div>
                    <div class="testimonial-content">
                        <h3>Cliente 2</h3>
                        <p>"Como amante del cine, siempre busco la mejor experiencia y la encuentro en Hipercine. La variedad de películas, la comodidad de las salas y la calidad de proyección hacen de cada visita una experiencia única."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Cartelera</h4>
                    <ul>
                        <li><a href="#">Proximos Estrenos</a></li>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Donde Estamos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Hipercines</h4>
                    <ul>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Politicas y Privacidad</a></li>
                        <li><a href="#">Politicas de Cookies</a></li>
                        <li><a href="#">Servicios Publicitarios</a></li>
                        <li><a href="#">Cumpleaños</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="#">Escribenos</a></li>
                        <li><a href="#">Trabaja con Nosotros</a></li>
                        <li><a href="#">Testimonios</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</body>

</html>