<!DOCTYPE html>
<html lang="en" ng-app="detallePelicula">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar horario</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,400;0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="detallePelicula.css">
</head>

<body ng-controller="detallePeliculaController">
    <header class="header">
        <div class="logo">
            <p>Hypercines</p>
        </div>
        <div class="login">
            <input type="button" value="Iniciar sesion">
        </div>
    </header>
    <div class="form-container">
        <section class="info-movie">
            <div class="img-movie">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniverso/SXJNUZ2PL5HTBFJLZYDQEK3O74.jpg" alt="">
            </div>
            <div class="movie-poster">
                <div class="release">ESTRENO</div>
                <img src={{pelicula.imagen_portada}} alt="">
            </div>
            <div class="detail-movie">
                <h1>{{pelicula.nombre_pelicula}}</h1>
                <h2>Actores: {{pelicula.actores}}</h2>
                <h2>Director: {{pelicula.directores}}</h2>
            </div>
            <div class="specifications-movie">
                <div class="classifications">
                    <i class='bx bx-child'></i>
                    <p>+12</p>
                    <div class="separador"></div>
                </div>
                <div class="duration">
                    <i class='bx bxs-time'></i>
                    <p>2H</p>
                    <div class="separador"></div>
                </div>
                <div class="genre">
                    <i class='bx bxs-time'></i>
                    <p>Anime</p>
                    <div class="separador"></div>
                </div>
            </div>
        </section>
        <section class="info-movie2">
            <div class="aux-sinopsis">
                <h1>SINOPSIS</h1>
            </div>
            <div class="sinopsis">
                {{pelicula.sinopsis}}
            </div>
            <div class="trailer">
                <div class="aux-trailer">
                    <h1>TRAILER</h1>
                </div>
                <iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" class="DetailMovieTailer" type="text/html" src="https://www.youtube.com/embed/lZcKKUglVEk"
                    frameborder="0"></iframe> </div>
            <section class="form-city">
                <h1>Seleccione su ciudad y complejo:</h1>
                <div class="paremeters-location">
                    <div class="city">
                        <h2>Ciudad</h2>
                        <select name="ciudad" disabled>
                            <option value="ciudad" selected>{{ciudad}}</option>
                        </select>
                    </div>
                    <div class="complejo">
                        <h2>Complejo</h2>
                        <select name="complejo" disabled>
                            <option value="complejo" selected>{{complejo}}</option>
                        </select>
                    </div>
                    <div class="fechas">
                        <h2>Fecha</h2>
                        <select ng-model="fecha" ng-change="changeFecha()" name="fecha">
                            <option value="{{fecha.fecha}}" ng-repeat="fecha in fechas">{{fecha.fecha_texto}}</option>
                        </select>
                    </div>
                </div>
            </section>
            <section class="functions">
                <h2>Pasaje</h2>
                <div class="funcion-pequenia">
                    <p>Pequenia</p>
                    <div class="funciones">
                        <div class="funcion">
                            10:00
                        </div>
                        <div class="funcion">
                            14:00
                        </div>
                    </div>
                </div>
                <div class="funcion-grande">
                    <p>Grande</p>
                    <div class="funciones">
                        <div class="funcion">
                            11:00
                        </div>
                        <div class="funcion">
                            15:00
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script src="detallePelicula.js"></script>
</body>

</html>