<!DOCTYPE html>
<html lang="en" ng-app="detallePelicula">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar horario</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,400;0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="detallePelicula.css">
</head>

<body ng-controller="detallePeliculaController">
    <header class="header">
        <div class="menu-container">
            <div class="logo">
                <img id="img-header" src="/Presentacion/Imagenes/logoreal.png" alt="">
            </div>
            <nav class="navbar">
                <ul>
                    <li> <a href="../cine/cine.html">Inicio</a></li>
                    <li> <a href="../estrenos/proxiestrenos.html">Proximos Estrenos</a></li>
                    <li> <a href="../quienes/quienes.html">Nosotros</a></li>
                </ul>
            </nav>
            <a href='../login/login.component.html' ; class="btn-1"> Login</a>
        </div>
    </header>
    <div class="form-container">
        <section class="info-movie">
            <div class="img-movie">
                <img src="{{pelicula.imagen_miniatura}}" alt="">
            </div>
            <div class="movie-poster">
                <div class="release">ESTRENO</div>
                <img src={{pelicula.imagen_portada}} alt="">
            </div>
            <div class="detail-movie">
                <h1>{{pelicula.nombre_pelicula}}</h1>
                <h2>Actores: {{pelicula.actores}}</h2>
                <h2>Director: {{pelicula.directores}}</h2>
            </div>
            <div class="specifications-movie">
                <div class="classifications">
                    <i class='bx bx-child'></i>
                    <p>{{pelicula.nombre_clasificacion}}</p>
                    <div class="separador"></div>
                </div>
                <div class="duration">
                    <i class='bx bxs-time'></i>
                    <p>{{pelicula.duracion}} min</p>
                    <div class="separador"></div>
                </div>
                <div class="genre">
                    <i class='bx bxs-time'></i>
                    <p>{{pelicula.nombre_genero}}</p>
                    <div class="separador"></div>
                </div>
            </div>
        </section>
        <section class="info-movie2">
            <div class="aux-sinopsis">
                <h1>SINOPSIS</h1>
            </div>
            <div class="sinopsis">
                {{pelicula.sinopsis}}
                <div class="separador-hor"></div>
            </div>
            <div class="trailer">
                <div class="aux-trailer">
                    <h1>TRAILER</h1>
                </div>
                <iframe allowfullscreen="true" class="DetailMovieTailer" type="text/html" ng-src="{{trustedUrl}}"></iframe>
            </div>
            <section class="form-city">
                <h1>Seleccione su ciudad y complejo:</h1>
                <div class="paremeters-location">
                    <div class="city">
                        <h2>Ciudad</h2>
                        <select name="ciudad" disabled>
                            <option value="ciudad" selected>{{ciudad}}</option>
                        </select>
                    </div>
                    <div class="complejo">
                        <h2>Complejo</h2>
                        <select name="complejo" disabled>
                            <option value="complejo" selected>{{complejo}}</option>
                        </select>
                    </div>
                    <div class="fechas">
                        <h2>Fecha</h2>
                        <select ng-model="selectedFecha" ng-change="changeFecha()" name="fecha">
                            <option value="{{fecha.fecha}}" ng-selected="$first" ng-repeat="fecha in fechas">{{fecha.fecha_texto}}</option>
                        </select>
                    </div>
                </div>
            </section>
            <section class="functions">
                <h2>{{ciudad}}</h2>
                <div class="funcion-pequenia">
                    <p>Principal</p>
                    <div class="funciones">
                        <div class="funcion" ng-repeat="funcion in funcionesGeneral" ng-click="seleccionarFuncion(funcion)" ng-class="{'seleccionada':funcion.seleccionada}">
                            {{funcion.hora}}
                        </div>
                    </div>
                </div>
                <div class="funcion-grande">
                    <p>VIP</p>
                    <div class="funciones">
                        <div class="funcion" ng-repeat="funcion in funcionesVIP" ng-click="seleccionarFuncion(funcion)" ng-class="{'seleccionada':funcion.seleccionada}">
                            {{funcion.hora}}
                        </div>
                    </div>
                </div>
            </section>
            <div class="next-btn">
                <button id='btn-next3' class="btn-back">Cancelar</button>
                <button id='btn-next2' class="btn-next">Siguiente</button>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="detallePelicula.js"></script>
</body>

</html>