@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@media (max-width: 1024px) {
    .paremeters-location>* select {
        width: 15vw;
    }
    .functions {
        display: flex;
        flex-direction: column !important;
        margin-bottom: 10px;
    }
    .functions>* {
        width: 100% !important;
    }
    .functions>* p {
        margin-left: 10px;
    }
    .functions h2 {
        margin-left: 10px;
    }
}

@media (max-width: 652px) {
    .form-container {
        display: flex;
        flex-direction: column;
    }
    .info-movie {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
    }
    .info-movie .movie-poster {
        margin: 0 !important;
        width: 75vw !important;
        height: 90vw !important;
    }
    .info-movie .detail-movie {
        text-align: center !important;
    }
    .info-movie .specifications-movie {
        justify-content: center !important;
    }
    .info-movie2 {
        max-width: 100% !important;
        margin-right: 10px;
    }
    .form-city {
        margin-top: 10px;
        text-align: center;
    }
    .paremeters-location {
        display: flex !important;
        flex-direction: column !important;
    }
    .paremeters-location>* {
        width: 100% !important;
        margin: 0px !important;
        max-width: 100% !important;
    }
    .paremeters-location>* select {
        width: 70% !important;
    }
    .functions {
        display: flex;
        flex-direction: column !important;
        margin-bottom: 10px;
    }
    .functions>* {
        width: 100% !important;
    }
    .functions>* p {
        margin-left: 10px;
    }
    .functions h2 {
        margin-left: 10px;
    }
    .info-movie2 .trailer {
        height: 40vw !important;
    }
    .navbar {
        display: none !important;
    }
    .menu-container {
        flex-direction: column !important;
    }
    #img-header {
        margin-top: 35px;
        margin-left: 0px !important;
    }
    .btn-1 {
        display: none;
    }
    .separador-hor {
        width: 95vw !important;
    }
}

.menu-container {
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style-type: none;
    position: relative;
    float: left;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 22px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.navbar ul li a:hover {
    color: #ff2f28;
}

.btn-1 {
    margin-right: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff2f28;
    color: #ffffff;
    font-size: 20px;
}

#img-header {
    width: 190px;
    margin-left: 50px;
}


/*css para header

/*/

body {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
}

.header .logo {
    text-align: left;
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
}

.header .login {
    text-align: right;
    padding-right: 25px;
}

.info-movie {
    width: 40vw;
}

.info-movie .img-movie img {
    width: 80vw;
    height: 60vw;
    object-fit: cover;
    filter: brightness(0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    transform: translate(-50%, -30%);
    min-height: 100%;
    min-width: 100%;
    overflow: visible;
}

.info-movie .movie-poster {
    width: 30vw;
    height: 40vw;
    margin-top: 15px;
    margin-left: 15px;
}

.info-movie .movie-poster img {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 100%;
}

.info-movie .detail-movie h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 18px;
    color: white;
}

.info-movie .detail-movie h2 {
    font-weight: lighter;
    margin-top: 5px;
    margin-left: 18px;
    color: white;
}

.release {
    font-size: 20px;
    font-weight: bold;
    border-bottom: none;
    text-align: center;
    background-color: #f1c40f;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}

.specifications-movie {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 18px;
}

.specifications-movie i {
    margin-right: 3px;
    width: 15px;
    color: white;
}

.specifications-movie>* {
    display: flex;
    align-items: center;
    margin: 5px;
}

.separador {
    margin-left: 10px;
    width: 1px;
    height: 35px;
    background-color: white;
}

.separador-hor {
    margin-top: 10px;
    background-color: white;
    width: 55vw;
    height: 2px;
}

.info-movie2 {
    max-width: 55vw;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.info-movie2 .sinopsis {
    text-align: justify;
    font-size: 20px;
    border-radius: 16px;
    color: white;
}

.info-movie2 .aux-sinopsis {
    color: white;
    text-align: center;
}

.info-movie2 .aux-trailer {
    color: white;
    text-align: center;
    margin: 0;
}

.info-movie2 .trailer {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    height: 20vw;
    flex-direction: column;
    align-items: center;
}

.info-movie2 iframe {
    border: 1px solid white;
    border-radius: 16px;
    width: 50%;
    height: 80%;
}

.info-movie2 .form-city .paremeters-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-city {
    color: white;
}

.paremeters-location>* {
    max-width: 10vw;
    text-align: center;
    margin-right: 70px;
}

.paremeters-location>* select {
    font-weight: bold;
    padding: 15px;
    border-radius: 0px;
}

.paremeters-location .city select {
    font-weight: bold;
    width: 10vw;
    padding: 15px;
    border-radius: 0px;
    appearance: none;
}

.paremeters-location .complejo select {
    font-weight: bold;
    width: 10vw;
    padding: 15px;
    border-radius: 0px;
    appearance: none;
}

.paremeters-location>*>select[disabled] {
    opacity: 0.99;
}

.functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border-radius: 5px;
    background-color: white;
}

.functions h2 {
    margin-left: 10px;
    padding: 7px;
}

.functions>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.functions>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.functions>div>div>div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 25px;
}

.seleccionada {
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.functions>div>div>div:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin-right: 25px;
}

.next-btn {
    text-align: right;
    margin-top: 5px;
}

.next-btn button {
    border: 1px solid white;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    padding: 10px;
}

.next-btn button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 893px) {
    .info-movie2 .trailer {
        height: 35vw !important;
    }
}

@media (max-width: 580px) {
    .form-city {
        margin-top: 15vw;
    }
}