<!DOCTYPE html>
<html lang="en" ng-app="proxiEstreno">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hipercine</title>
    <link rel="stylesheet" href="proxiestrenos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body ng-controller="proxiEstrenoController">

    <header class="header">
        <div class="menu container">
            <div class="logo">
                <img id="img-header" src="/Presentacion/Imagenes/logoblanco.png" alt="">
            </div>
            <input type="checkbox" id="menu" />
            <label for="menu">
        <img src="../../Imagenes/menu.png" class="menu-icono" alt="menu">
    </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../cine/cine.html">Inicio</a></li>
                    <li> <a href="../estrenos/proxiestrenos.html">Proximos Estrenos</a></li>
                    <li> <a href="../quienes/quienes.html">Nosotros</a></li>
                </ul>

            </nav>
            <div class="dropdown">
                <a href='../login/login.component.html' class="btn-1">Login</a>
                <div id="menu-options" class="dropdown-content">
                    <a id="close">Cerrar sesión</a>
                </div>
            </div>



        </div>
    </header>
    <section class="movies container" id="movies-container" ng-repeat="mes in meses">
        <h2>{{mes}}</h2>
        <hr>
        <div class="box-container-1">
            <div class="box-1" ng-repeat="pelicula in peliculasEstreno[mes]">
                <div class="content">
                    <img src="{{pelicula.imagen_portada}}" alt="">
                </div>

            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Cartelera</h4>
                    <ul>
                        <li><a href="#">Proximos Estrenos</a></li>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Donde Estamos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Hipercines</h4>
                    <ul>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Politicas y Privacidad</a></li>
                        <li><a href="#">Politicas de Cookies</a></li>
                        <li><a href="#">Servicios Publicitarios</a></li>
                        <li><a href="#">Cumpleaños</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="#">Escribenos</a></li>
                        <li><a href="#">Trabaja con Nosotros</a></li>
                        <li><a href="#">Testimonios</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./proxiestrenos.js"></script>
</body>

</html>