<!DOCTYPE html>
<html lang="es" ng-app="editPelicula">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Película</title>
    <link rel="stylesheet" href="editPelicula.css">
</head>

<body ng-controller="editPeliculaController">
    <div class="container">
        <h1>Formulario de Película</h1>
        <form id="formulario">
            <div class="form-group">
                <label for="id_genero">Género</label>
                <select ng-model="pelicula.id_genero" id="genero" name="id_genero" ng-change="change()" required>
                    <option value="">Seleccione un genero</option>
                    <option  ng-repeat="genero in generos" value="{{genero.id_genero}}" >{{genero.nombre_genero}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_clasificacion">Clasificación</label>
                <select ng-model="pelicula.id_clasificacion" id="id_clasificacion" name="id_clasificacion" required>
                    <option value="">Seleccione una clasificación</option>
                    <option ng-repeat="clasificacion in clasificaciones" value="{{clasificacion.id_clasificacion}}">{{clasificacion.nombre_clasificacion}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nombre_pelicula">Nombre de la Película</label>
                <input ng-model="pelicula.nombre_pelicula" type="text" id="nombre_pelicula" name="nombre_pelicula" required>
            </div>
            <div class="form-group">
                <label for="duracion">Duración</label>
                <input ng-model="pelicula.duracion" type="text" id="duracion" name="duracion" pattern="[0-9]*" required>
            </div>
            <div class="form-group">
                <label for="imagen_miniatura">Imagen Miniatura</label>
                <input ng-model="pelicula.imagen_miniatura" type="text" id="imagen_miniatura" name="imagen_miniatura" required>
            </div>
            <div class="form-group">
                <label for="imagen_portada">Imagen de Portada</label>
                <input ng-model="pelicula.imagen_portada" type="text" id="imagen_portada" name="imagen_portada" required>
            </div>
            <div class="form-group">
                <label for="trailer">Trailer</label>
                <input ng-model="pelicula.trailer" type="text" id="trailer" name="trailer" required>
            </div>
            <div class="form-group">
                <label for="sinopsis">Sinopsis</label>
                <textarea ng-model="pelicula.sinopsis" id="sinopsis" name="sinopsis" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="fecha_estreno">Fecha de Estreno</label>
                <input ng-model="fecha_estreno" type="date" id="fecha_estreno" name="fecha_estreno" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="editPelicula.js"></script>
</body>

</html>