<!DOCTYPE html>
<html lang="en" ng-app="cine">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hipercine</title>
    <link rel="stylesheet" href="cine.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body ng-controller="cineController">
    <header class="header">
        <div class="menu container">
            <div class="logo">
                <img id="img-header" src="/Presentacion/Imagenes/logoblanco.png" alt="">
            </div>
            <input type="checkbox" id="menu" />
            <label for="menu">
        <img src="../../Imagenes/menu.png" class="menu-icono" alt="menu">
    </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../cine/cine.html">Inicio</a></li>
                    <li> <a href="../estrenos/proxiestrenos.html">Proximos Estrenos</a></li>
                    <li> <a href="../quienes/quienes.html">Nosotros</a></li>
                </ul>

            </nav>
            <a href='../login/login.component.html' ; class="btn-1">Login</a>
        </div>
    </header>

    <section>
        <div class="container-carousel">
            <div class="carruseles" id="slider">
                <section class="slider-section">
                    <img src="../../Imagenes/pel1sli.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider2pel.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider3pel.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider4pel.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/pel1sli.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider2pel.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider3pel.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider4pel.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/pel1sli.png">
                </section>
                <section class="slider-section">
                    <img src="../../Imagenes/slider2pel.png">
                </section>

            </div>
            <div class="btn-left"><i class='bx bx-chevron-left'></i></div>
            <div class="btn-right"><i class='bx bx-chevron-right'></i></div>
        </div>
    </section>

    <section class="ads">
        <div class="ad-images">
            <img id="img-ad1" src="/Presentacion/Imagenes/cartel1.png" alt="">
            <img id="img-ad2" src="/Presentacion/Imagenes/cartel2.png" alt="">
        </div>
    </section>

    <section class="combobox">
        <h2>Ciudad y Complejo</h2>

        <select ng-model="ciudad" ng-change="changeCiudad()" name="ciudad" id="selectCiudad">
            <option value="{{ciudad.nombre}}" ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
        </select>
        <select name="complejo" id="selectComplejo" ng-model="complejo" ng-change="changeComplejo()">
            <option value="{{complejo.nombre_complejo}}" ng-repeat="complejo in complejos">{{complejo.nombre_complejo}}</option>
        </select>

    </section>



    <section class="movies container">
        <h2>Peliculas de Estreno</h2>
        <hr>
        <div class="box-container-1">
            <div class="box-1" ng-repeat="pelicula in peliculas">
                <div class="release">Estreno</div>
                <div class="content">
                    <img ng-attr-id="{{'linkImagen1'+pelicula.id_pelicula}}" ng-attr-src="{{pelicula.imagen_portada}}" alt="">
                    <div class="title-movie">
                        <h1 ng-attr-id="{{'nombrePelicula1'+pelicula.id_pelicula}}">{{pelicula.nombre_pelicula}}</h1>
                    </div>
                    <script ng-attr-id="{{'precioEntrada1'+pelicula.id_pelicula}}" type="text/plain">10</script>
                    <a href="#" class="btn-comprar" ng-click="getValores('nombrePelicula1'+pelicula.id_pelicula, 'precioEntrada1'+pelicula.id_pelicula, 'linkImagen1'+pelicula.id_pelicula, pelicula.id_pelicula)">Comprar</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Cartelera</h4>
                    <ul>
                        <li><a href="#">Proximos Estrenos</a></li>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Donde Estamos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Hipercines</h4>
                    <ul>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Politicas y Privacidad</a></li>
                        <li><a href="#">Politicas de Cookies</a></li>
                        <li><a href="#">Servicios Publicitarios</a></li>
                        <li><a href="#">Cumpleaños</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="#">Escribenos</a></li>
                        <li><a href="#">Trabaja con Nosotros</a></li>
                        <li><a href="#">Testimonios</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="cine.js"></script>
</body>

</html>