<!DOCTYPE html>
<html lang="en" ng-app="compra">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra de entradas</title>
    <link rel="stylesheet" href="compraPelicula.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,400;0,600;1,600&display=swap" rel="stylesheet">
</head>

<body ng-controller="compraController">
    <header class="header">
        <div class="menu-container">
            <div class="logo">
                <img id="img-header" src="/Presentacion/Imagenes/logoreal.png" alt="">
            </div>
            <nav class="navbar">
                <ul>
                    <li> <a href="../cine/cine.html">Inicio</a></li>
                    <li> <a href="../estrenos/proxiestrenos.html">Proximos Estrenos</a></li>
                    <li> <a href="#">Nosotros</a></li>
                </ul>
            </nav>
            <a href='../login/login.component.html' ; class="btn-1"> Login</a>
        </div>
    </header>
    <div class="form-container">
        <section class="background-movie">
            <div class="img-movie">
                <img src="{{funcion.imagen_miniatura}}" alt="">
            </div>
        </section>
        <div class="aux-msg">
            Seleccione las entradas
        </div>
        <section class="info-movie">
            <div class="movie-selected">
                <div class="movie-poster">
                    <div class="release">ESTRENO</div>
                    <img src="{{funcion.imagen_portada}}" alt="">
                </div>
                <div class="miscellaneous">
                    <div class="detail-movie">
                        <h1>{{funcion.nombre_pelicula}}</h1>
                        <h2>Actores : {{funcion.actores}}</h2>
                        <h2>Director : {{funcion.directores}}</h2>
                    </div>
                    <div class="specifications-movie">
                        <div class="classifications">
                            <i class='bx bx-child'></i>
                            <p>{{funcion.nombre_clasificacion}}</p>
                            <div class="separador"></div>
                        </div>
                        <div class="duration">
                            <i class='bx bxs-time'></i>
                            <p>{{funcion.duracion}} min</p>
                            <div class="separador"></div>
                        </div>
                        <div class="genre">
                            <i class='bx bxs-time'></i>
                            <p>{{funcion.nombre_genero}}</p>
                            <div class="separador"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="function-choose">
            <div class="function-info">
                <h1>DATOS DE LA FUNCIÓN</h1>
                <p>DIA: {{funcion.fecha_funcion}}</p>
                <p>Hora:{{funcion.hora_funcion}}</p>
            </div>
            <div class="separator-big"></div>
            <div class="entrance-detail show">
                <div class="entrance-info">
                    <div class="label">
                        <h1>ENTRADA GENERAL</h1>
                        <p>Entradas para asientos generales</p>
                    </div>
                    <div class="btn-cantidad">
                        <button id="minus-seat">-</button>
                        <div class="cantidad">1</div>
                        <button id="plus-seat">+</button>
                    </div>
                    <div class="price-amount">
                        <p id="priceEntry">x {{funcion.precio}}</p>
                        <p class="totallyEntry">$ {{precio_total}}</p>
                    </div>
                </div>
                <div class="next-btn">
                    <button id="btn-next">Siguiente</button>
                </div>
            </div>
            <div class="seat-selections hide">
                <button id="btn-volver">Volver</button>
                <div class="type-seats">
                    <ul class="showcase">
                        <li>
                            <div class="seat"></div>
                            <small>N/A</small>
                        </li>
                        <li>
                            <div class="seat selected"></div>
                            <small>Seleccionada</small>
                        </li>
                        <li>
                            <div class="seat occupied"></div>
                            <small>Ocupada</small>
                        </li>
                        <li>
                            <div class="seat own"></div>
                            <small>Mis asientos</small>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="screen">PANTALLA</div>
                    <div class="asientos">
                        <div class="fila" ng-repeat="asiento_sala in asientos">
                            <div ng-click="selectSeat($event, asiento.posicion)" ng-attr-id="{{asiento_sala.posicion}}" class="seat" ng-class="asiento.estado" ng-repeat="asiento in asiento_sala"></div>
                        </div>
                    </div>
                </div>

                <p class="text">
                    Haz seleccionado <span id="count">0</span> asientos por un precio de $ <span id="total">{{precio_total_asiento}}</span>
                </p>
                <div class="next-btn">
                    <button id="btn-next-seat">Siguiente</button>
                </div>
            </div>
            <form class="pay-methods hide" id="compra">
                <button id="btn-volver-pay">Volver</button>
                <div class="frm-pay-methods">
                    <div class="costumer-info">
                        <p id="titleCostumer">Datos de quien retira las entradas</p>
                        <b>Nombre:</b>
                        <p>{{usuario.nombre}} {{usuario.apellido}}</p>
                        <b>Cedula:</b>
                        <p>{{usuario.cedula}}</p>
                    </div>
                    <div class="information-view">
                        <div class="payment-info">
                            <b>Ingrese su tarjeta de credito / debito:</b>
                            <div class="tarjetas">
                                <p>Seleccionar tarjeta:</p>
                                <select name="tarjetas" required>
                                        <option value="" disabled="" selected>Seleccionar</option>
                                        <option value="VISA">VISA</option>
                                        <option value="MASTER CARD">MASTER CARD</option>
                                    </select>
                            </div>
                            <div class="tarjeta">
                                <p>Número de tarjeta:</p>
                                <input type="text" required></input>
                            </div>
                            <div class="code-card-back">
                                <p>Código de seguridad:</p>
                                <input required pattern="\d{3}" type="text"></input>
                            </div>
                            <div class="card-year">
                                <p>Anio</p>
                                <input name="anio" required pattern="\d{4}" type="text"></input>
                            </div>
                            <div class="card-month">
                                <p>Mes</p>
                                <input name="mes" required pattern="(0[1-9]|1[0-2])" type="text"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next-btn">
                    <button type="submit" id="btn-next">Siguiente</butto>
                </div>
            </form>
    </div>
    </section>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="compraPelicula.js"></script>
</body>

</html>