<!DOCTYPE html>
<html lang="en" ng-app="compra">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra de entradas</title>
    <link rel="stylesheet" href="compraPelicula.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,400;0,600;1,600&display=swap" rel="stylesheet">
</head>

<body ng-controller="compraController">
    <div class="form-container">
        <section class="background-movie">
            <div class="img-movie">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniverso/SXJNUZ2PL5HTBFJLZYDQEK3O74.jpg" alt="">
            </div>
        </section>
        <div class="aux-msg">
            Seleccione las entradas
        </div>
        <section class="info-movie">
            <div class="movie-selected">
                <div class="movie-poster">
                    <div class="release">ESTRENO</div>
                    <img src="https://pics.filmaffinity.com/El_chico_y_la_garza-226243829-large.jpg" alt="">
                </div>
                <div class="miscellaneous">
                    <div class="detail-movie">
                        <h1>EL JOVEN Y LA GARZA</h1>
                        <h2>Actores : Soma Santoki, Masaki Suda</h2>
                        <h2>Director : Hayao Miyazaki</h2>
                    </div>
                    <div class="specifications-movie">
                        <div class="classifications">
                            <i class='bx bx-child'></i>
                            <p>+12</p>
                            <div class="separador"></div>
                        </div>
                        <div class="duration">
                            <i class='bx bxs-time'></i>
                            <p>2H</p>
                            <div class="separador"></div>
                        </div>
                        <div class="genre">
                            <i class='bx bxs-time'></i>
                            <p>Anime</p>
                            <div class="separador"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="function-choose">
            <div class="function-info">
                <h1>DATOS DE LA FUNCIÓN</h1>
                <p>DIA: Martes, 06 Febrero 2024</p>
                <p>Hora: 22:00</p>
            </div>
            <div class="separator-big"></div>
            <div class="entrance-detail show">
                <div class="entrance-info">
                    <div class="label">
                        <h1>ENTRADA GENERAL</h1>
                        <p>Entradas para asientos generales</p>
                    </div>
                    <div class="btn-cantidad">
                        <button id="minus-seat">-</button>
                        <div class="cantidad">0</div>
                        <button id="plus-seat">+</button>
                    </div>
                    <div class="price-amount">
                        <p id="priceEntry">x $5.00</p>
                        <p class="totallyEntry">$15.00</p>
                    </div>
                </div>
                <div class="next-btn">
                    <button id="btn-next">Siguiente</button>
                </div>
            </div>
            <div class="seat-selections hide">
                <button id="btn-volver">Volver</button>
                <div class="type-seats">
                    <ul class="showcase">
                        <li>
                            <div class="seat"></div>
                            <small>N/A</small>
                        </li>
                        <li>
                            <div class="seat selected"></div>
                            <small>Seleccionada</small>
                        </li>
                        <li>
                            <div class="seat occupied"></div>
                            <small>Ocupada</small>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="screen">PANTALLA</div>
                    <div class="asientos">
                        <div class="fila" ng-repeat="asiento_sala in asientos">
                            <div class="seat" ng-class="asiento.estado" ng-repeat="asiento in asiento_sala"></div>
                        </div>
                    </div>
                </div>

                <p class="text">
                    Haz seleccionado <span id="count">0</span> asientos por un precio de $ <span id="total">0</span>
                </p>
                <div class="next-btn">
                    <button id="btn-next-seat">Siguiente</button>
                </div>
            </div>
            <div class="pay-methods hide">
                <button id="btn-volver-pay">Volver</button>
                <div class="frm-pay-methods">
                    <div class="costumer-info">
                        <p>Datos de quien retira las entradas:</p>
                        <p>Nombre: Daniel Zambrano</p>
                        <p>Cedula: 0701234567</p>
                    </div>
                    <div class="information-view">
                        <div class="payment-info">
                            <div class="tarjetas">
                                <p>Seleccionar tarjeta:</p>
                                <select name="tarjetas">
                                        <option disabled="" selected>Seleccionar</option>
                                        <option value="VISA">VISA</option>
                                        <option value="MASTER CARD">MASTER CARD</option>
                                    </select>
                            </div>
                            <div class="cedula">
                                <p>Cedula:</p>
                                <input type="text"></input>
                            </div>
                            <div class="code-card-back">
                                <p>Código de seguridad:</p>
                                <input type="text"></input>
                            </div>
                            <div class="card-year">
                                <p>Anio</p>
                                <input type="text"></input>
                            </div>
                            <div class="card-month">
                                <p>Mes</p>
                                <input type="text"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next-btn">
                    <button id="btn-next">Siguiente</button>
                </div>
            </div>
    </div>
    </section>
    </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="compraPelicula.js"></script>
</body>

</html>