<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú lateral</title>

    <link rel="stylesheet" href="dash.css">
    
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> <!-- Aquí cargas AngularJS -->

<script src="../dashboard/adminPelicula/adminPelicula.js"></script>
    
</head>

<body id="body">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <i class="fab fa-youtube"></i>
            <h4>Hypercines</h4>
        </div>

        <div class="options__menu">
            <a href="#" class="selected">
                <div class="option" onclick="loadContent('adminFuncion/adminFuncion')">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="#" onclick="loadContent('adminPelicula/adminPelicula')">
                <div class="option">
                    <i class="far fa-address-card" title="Nosotros"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
        </div>
    </div>

    <div id="content_area">
        <!-- Aquí se cargará el contenido dinámicamente -->
 
    <script src="dash.js"></script>
    <script>
        function loadContent(page) {
            const contentArea = document.getElementById('content_area');
            
            fetch(`${page}.html`)
                .then(response => response.text())
                .then(htmlData => {
                    fetch(`${page}.css`)
                        .then(response => response.text())
                        .then(cssData => {
                            const styleElement = document.createElement('style');
                            styleElement.textContent = cssData;
                            document.head.appendChild(styleElement);
                            contentArea.innerHTML = htmlData;
    
                            // Después de cargar el HTML y CSS, cargar el archivo JS correspondiente
                            const scriptElement = document.createElement('script');
                            scriptElement.src = `${page}.js`;
    
                            // Agrega un evento 'onload' para asegurarte de que el script se cargue completamente antes de iniciar AngularJS
                            scriptElement.onload = function() {
                                angular.bootstrap(document, ['adminPelicula']);
                            };
    
                            document.body.appendChild(scriptElement);
                        });
                });
        }
    </script>
</body>

</html>
